service: lambda-func

frameworkVersion: ">=1.2.0 <2.0.0"

provider:
  name: aws
  runtime: java8

package:
  artifact: build/distributions/glip-bot-lambda.zip

functions:
  glip-bot-lambda:
    handler: com.serverless.Handler
    events:
      - http:
          path: content
          method: post